.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/Header.jpg');
}

.hero {
  text-align: center;
}

.hero .hero-title {
  margin-bottom: 46px;
  padding-top: 200px;
  padding-left: 262px;
  padding-right: 262px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $primary-white-color;
}

.hero .link.buttom {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  letter-spacing: 0.06em;

  color: $primary-white-color;
  background-color: $accent-color;
}

.buttom {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  font: inherit;
  font-family: inherit;
  min-width: 200px;
  text-align: center;

  border: none;
  color: inherit;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom:hover,
.buttom:focus {
  transform: scale(1.1);
  cursor: pointer;
}
