.advantages .item .section-text,
.section-subtitle {
  text-align: left;
}

.section-title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-subtitle {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  color: $text-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
