.border-top::before {
  display: block;
  content: '';
  background-color: $border-bottom-color;
  max-width: 1170px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.border-top {
  padding-top: 0;
}
