.header-border {
  border-bottom: 1px solid $border-bottom-color;
}

.main {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  .link {
    display: block;
    padding: 32px 0px;

    color: $primary-text-color;

    transition: color 250ms $time-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.position {
  position: relative;
}

.contacts-main {
  display: flex;
}

.site-nav .link.current {
  color: $accent-color;
  &::after {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;

    content: ' ';

    border-radius: 2px;
    background-color: $accent-color;

    transition: color 250ms $time-function;
  }
  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}

.site-nav .contacts-main .link-contact {
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin-left: 10px;

  color: $text-color;

  transition: color 250ms $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-contacts {
  margin-left: auto;
}

.site-nav .contacts-main:not(:last-child) {
  margin-right: 30px;
}

.icon-mail {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.icon-tel {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}