.subscribe label {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;

  color: $primary-white-color;
}

.subscribe input {
  width: 358px;
  padding: 16px 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: $footer-bacground-color;
  border-radius: 4px;
}

.subscribe input::placeholder {
  font-size: 16px;
  line-height: 30px;

  color: $footer-three-text-color;
}

.footer-flex-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-footer .subscribe {
  display: flex;
  align-items: flex-end;
}

.subscribe-footer {
  display: flex;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;

  border: none;
  border-radius: 4px;
  color: $primary-white-color;
  background-color: $accent-color;
}

.subscribe-footer::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 12px;

  background-image: url(../images/send.svg);
}

.subscribe-footer:hover,
.subscribe-footer:focus {
  transform: scale(1.1);
  cursor: pointer;
}
